<template>
<div id="app" dark>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item-group v-model="group" active-class="secondary--text text--accent-4"        >
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-dungeon</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Adventure</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-hat-wizard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Adventure</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-book</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Tutorial</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-comment-alt</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Forum</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
        <v-list-item-action>
            <v-icon>fas fa-shopping-bag</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Market Place</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app flat class="primary">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="color:var(--v-accent-base)">Application</v-toolbar-title>
      <v-spacer></v-spacer>       
      <v-icon class="mr-6">fas fa-cog mr-6</v-icon>
      <v-icon class="mr-6">fas fa-bell mr-6</v-icon>
      <v-switch v-model="$vuetify.theme.dark" secondary label="Theme" class="mt-7"/>
    </v-app-bar>

    <v-content class="primary">
      <v-container fluid fill-height> 
          <Adventures v-if="menu == 1"></Adventures>
          <BoardMyAventure v-if="menu == 2"></BoardMyAventure>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>
<script>
import Adventures from '@/components/Adventures.vue'
import BoardMyAventure from '@/components/BoardMyAventure.vue'
export default {
  name: 'Board',
  components: {
    Adventures,
    BoardMyAventure
  },
  data: () => ({
    drawer: null,
    group: null,
    menu: 2,
  })
};
</script>