<template>
    <v-app id="inspire" :dark="true">
    <v-app-bar app color="transparent" flat>
      <v-spacer></v-spacer> 
      <v-btn color="secondary" @click="login_form = 0" class="mr-6" v-if="login_form != 0">Login</v-btn>
      <v-btn color="secondary" @click="login_form = 1" class="mr-6" >Sing In</v-btn>
      <v-switch v-model="$vuetify.theme.dark" secondary label="Theme" class="mt-7"/>
    </v-app-bar>
    <v-content>      
      <v-container fluid fill-height>
        <v-layout align-center justify-center v-if='login_form == 0'>     
          <v-flex xs12 sm8 md4 style="background-color: rgba(0, 0, 0, 0.54);border: 2px solid rgba(0, 0, 0, 0.38);border-radius: 5px;" > 
              <v-card-text>
                <v-form v-model="valid_login" autocomplete="off">
                  <v-text-field label="Login"    name="login"    v-model="user" prepend-icon="fas fa-user" type="text"     color='secondary' required :rules="userRules"></v-text-field>
                  <v-text-field label="Password" name="password" v-model="password" prepend-icon="fas fa-lock" type="password" color='secondary' required :rules="passRules"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="secondary" @click="login_form = 2">Forget</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="secondary" @click="login()">Login</v-btn>
              </v-card-actions>
          </v-flex>
        </v-layout>
        <v-layout align-center justify-center v-if='login_form == 1'>     
          <v-flex xs12 sm8 md4 style="background-color: rgba(0, 0, 0, 0.54);border: 2px solid rgba(0, 0, 0, 0.38);border-radius: 5px;"> 
              <v-card-text>
                <v-form v-model="valid_new">
                  <v-text-field label="First name"       v-model="new_firt"  name="firstname"    type="text"     color='secondary'      required :rules="userRules"></v-text-field>
                  <v-text-field label="Last name"        v-model="new_last"   name="lastname"     type="text"     color='secondary'     required :rules="userRules"></v-text-field>
                  <v-text-field label="Mail"             v-model="new_mail"       name="mail"         type="mail"     color='secondary' required :rules="emailRules"></v-text-field>
                  <v-text-field label="Password"         v-model="new_password"   name="password"     type="password" color='secondary' required :rules="passRules"></v-text-field>
                  <v-text-field label="Confirm password" v-model="new_repassword" name="repassword"   type="password" color='secondary' required :rules="passRules"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="secondary" @click="login_form = 2">Forget</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="secondary" @click="login_form = 0">Send</v-btn> 
              </v-card-actions>
          </v-flex>
        </v-layout>
        <v-layout align-center justify-center v-if='login_form == 2'>     
          <v-flex xs12 sm8 md4 style="background-color: rgba(0, 0, 0, 0.54);border: 2px solid rgba(0, 0, 0, 0.38);border-radius: 5px;"> 
              <v-card-text>
                <v-form  v-model="valid_forget">
                  <v-text-field label="Mail" v-model='mail_forget' type="mail" color='secondary' required :rules="emailRules"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary">Send</v-btn>
              </v-card-actions>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer
      color="transparent"
      app
    >
      <v-spacer></v-spacer>
      <span class="white--text">&copy; Miguel 2019</span>
    </v-footer>
    
    <router-view/>
  </v-app>
</template>

<script>

export default {
  name: 'Login',
  data: () => ({
    login_form: 0,
    drawer: null,
    user: '',
    password: '',
    new_firt: '',
    new_last: '',
    new_mail: '',
    new_password: '',
    new_repassword:'',  
    firstname: '',
    lastname: '',
    mail:'',
    mail_forget:'',
    repassword: '',
    userRules: [
      v => !!v || 'User is required',
    ],
    passRules: [
      v => !!v || 'Password is required',
      v => v.length >= 6 || 'Password must be more than 6 characters',
    ],
    emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    valid_login: false,
    valid_new: false,
    valid_forget: false,
    goDark: true
  }),
  methods: {
    sing(){
      let me = this;
      me.$router.push('/board')
      me.login_form = 1;
    },
    login(){
      this.$router.push('/board')
    }
  }
};
</script>
<style scoped>
.theme--light.v-application{
    background: url('https://cdnb.artstation.com/p/assets/images/images/017/187/069/large/andrew-palyanov-31.jpg?1554970784') !important;
    background-size: cover !important;
}

.theme--dark.v-application{
    background: url('https://cdnb.artstation.com/p/assets/images/images/017/187/069/large/andrew-palyanov-31.jpg?1554970784') !important;
    background-size: cover !important;
}
</style>