<template>
  <v-container class="grey lighten-5" style="width:100%; height:100%" fluid> 
    <v-row>
      <v-col cols="12" sm="4">
          <v-card>
            <v-img
              src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="300px"
            >
              <v-card-title text="Pre-fab homes"></v-card-title>
            </v-img>

            <v-card-actions color="accent">
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon >fas fa-play</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-cog</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-trash-alt</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
            <v-col cols="12" sm="4">
          <v-card>
            <v-img
              src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="300px"
            >
              <v-card-title text="Pre-fab homes"></v-card-title>
            </v-img>

            <v-card-actions color="accent">
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon >fas fa-play</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-cog</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-trash-alt</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
            <v-col cols="12" sm="4">
          <v-card>
            <v-img
              src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="300px"
            >
              <v-card-title text="Pre-fab homes"></v-card-title>
            </v-img>

            <v-card-actions color="accent">
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon >fas fa-play</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-cog</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-trash-alt</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
            <v-col cols="12" sm="4">
          <v-card>
            <v-img
              src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="300px"
            >
              <v-card-title text="Pre-fab homes"></v-card-title>
            </v-img>

            <v-card-actions color="accent">
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon >fas fa-play</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-cog</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon >fas fa-trash-alt</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
    <v-btn bottom color="accent" fab fixed right @click="dialog = !dialog" class="mb-7 mr-2 white-text">
      <v-icon>fas fa-plus</v-icon>
    </v-btn>
    <v-dialog v-model="dialog"  width="800px">
      <v-card>
        <v-card-title class="primary white-text">
          Create adventure
        </v-card-title>
        <v-container>
          <v-row align="center" justify="center">
            <v-img
              src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              lazy-src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
              aspect-ratio="1"
              class="grey lighten-2"
              max-width="500"
              max-height="300"
            ></v-img>
          </v-row>
          <v-row class="mx-2">
            <v-col class="align-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-file-input
                  placeholder="Upload your image"
                  multiple
                  prepend-icon="far fa-image"
                  color="secondary"
                >
                  <template v-slot:selection="{ text }">
                    <v-chip
                      small
                      label
                      color="secondary"
                    >
                      {{ text }}
                    </v-chip>
                  </template>
                </v-file-input>
              </v-row>
            </v-col>
          </v-row>
          <v-row class="mx-2">            
            <v-col class="align-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-text-field
                  prepend-icon="fas fa-hat-wizard"
                  placeholder="Title of your adventure"
                  color="secondary"
                />
              </v-row>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions class="primary">
          <v-spacer />
          <v-btn flat color="secondary" @click="dialog = false">Cancel</v-btn>
          <v-btn flat color="secondary" @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
  export default {
    name: 'Adventures',
    data: () => ({
      cards: [
        { title: 'Pre-fab homes', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 12 },
        { title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg', flex: 6 },
        { title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg', flex: 6 },
      ],
      dialog: false,
    }),
  }
</script>
<style>
.theme--light.v-icon {
    color: var(--v-secondary-base) !important;
}
.theme--dark.v-icon {
    color: var(--v-secondary-base) !important;
}
.theme--light.v-card {
    color: black !important;
}
.theme--dark.v-card {
    color: white !important;
}
.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: var(--v-secondary-base) !important;
}
.v-application .grey.lighten-5 {
    background-color: #fafafa00 !important;
    border-color: #fafafa !important;
    height: -webkit-fill-available;
}
.v-card > *:last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--v-accent-base);
}
</style>>