<template>
  <v-container class="grey lighten-5"  fluid style="width:100%; height:100%"> 
    <v-img src="https://i.redd.it/sjo6o6aswoy31.jpg" lazy-src="https://picsum.photos/id/11/10/6" class="grey lighten-2" :aspect-ratio="scale" contain></v-img>
    <canvas id="silverfox" style="position: absolute;top: 0;height: 100%;width: 100%;"></canvas > 
    <v-btn fab dark large color="secondary" background-color="white" fixed right bottom>
        <v-icon>fas fa-plus</v-icon>
    </v-btn>
      <v-slider style="position: fixed;top: 43%;width: 5%;height: auto;" min="1" max="3" v-model="scale" vertical color="secondary" thumb-label step="0.0001"></v-slider>      
  </v-container>
</template>
<script>
  export default {
    name: 'BoardMyAventure',
    data: () => ({
      absolute: true,
      opacity: 0,
      overlay: true,
      zIndex: 9999,
      scale: 1.5390,
      canvas: [],
      ctx: [],
      canvasx: 0,
      canvasy: 0,
      last_mousex: 0,
      last_mousey: 0,
      mousex: 0,
      mousey: 0,
      mousedown: false,
      tooltype: 'draw',
      mist: {"last_xy":[],"now_xy":[]},
      mist_json: '',
      width: 0,
      height: 0
    }),
        methods: {
            use_tool(tool) {
                let me = this;
                me.tooltype = tool; //update
            },
            mouseDown(event) {  
                let me = this;              
                me.last_mousex = me.mousex = parseInt(event.clientX-me.canvasx);
                me.last_mousey = me.mousey = parseInt(event.clientY-me.canvasy);
                me.mousedown = true;
            },
            mouseUp(event) {  
                let me = this;              
                me.mousedown = false;             
            },
            mouseMove(event) {  
                let me = this;              
                me.mousex = parseInt(event.clientX - me.canvasx);
                me.mousey = parseInt(event.clientY - me.canvasy);
                if(me.mousedown) {
                    me.ctx.beginPath();
                    if(me.tooltype=='draw') {
                        me.ctx.globalCompositeOperation = 'source-over';
                        me.ctx.strokeStyle = "rgba(255, 255, 255, 0.5)";
                        me.ctx.lineWidth = 70;
                    } else {
                        me.ctx.globalCompositeOperation = 'destination-out';
                        me.ctx.lineWidth = 70;
                    }
                    me.ctx.moveTo(me.last_mousex,me.last_mousey);
                    me.ctx.lineTo(me.mousex,me.mousey);
                    console.log(me.last_mousex + ';' + me.last_mousey + ';' + me.mousex + ';' + me.mousey);
                    me.ctx.lineJoin = me.ctx.lineCap = 'round';
                    me.ctx.stroke();                    
                    me.last_mousex = me.mousex;
                    me.last_mousey = me.mousey;
                }                
            },
            touchStart(event){
                alert('touchStart');
            },
            touchEnd(event){
                alert('touchEnd');
            },
            touchMove(event){
                alert('touchMove');
            },
        },
    mounted() {
      let me = this;   
      //Canvas
      me.canvas = document.getElementById('silverfox');
      me.ctx = me.canvas.getContext('2d');
      me.ctx.canvas.width  = window.innerWidth;
      me.ctx.canvas.height = window.innerHeight;
      me.width = window.innerWidth;
      me.height = window.innerHeight;
      //Variables
      var BB= me.canvas.getBoundingClientRect();
      me.canvasx = 284; 
      me.canvasy = 0;
      me.last_mousex = 0;
      me.last_mousey = 0;
      me.mousex = 0;
      me.mousey = 0;
      me.mousedown = false;
      me.tooltype = 'erase';  

      me.ctx.globalCompositeOperation = 'source-over';
      me.ctx.strokeStyle = "rgba(255, 255, 255, 0.8)";
      me.ctx.lineWidth = 100000;
      me.ctx.moveTo(me.last_mousex,me.last_mousey);
      me.ctx.lineTo(me.mousex,me.mousey);
      me.ctx.lineJoin = me.ctx.lineCap = 'round';
      me.ctx.stroke();

      document.getElementById("silverfox").onmousedown = function() {me.mouseDown(event)};
      document.getElementById("silverfox").onmouseup = function() {me.mouseUp(event)};
      document.getElementById("silverfox").onmousemove = function() {me.mouseMove(event)};

      document.getElementById("silverfox").touchstart = function() {me.touchStart(event)};
      document.getElementById("silverfox").touchend = function() {me.touchEnd(event)};
      document.getElementById("silverfox").touchmove = function() {me.touchMove(event)};
    },
  }
</script>
<style scoped>
.theme--dark.v-icon {
    color: #f9f9f9 !important;
}
</style>